<configuration scan="true" scanPeriod="10 seconds" debug="true">

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>time</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>2</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                    <fieldName>stacktrace</fieldName>
                </stackTrace>
                <context>
                    <fieldName>context</fieldName>
                </context>
                <!--
                    Add MDC fields to the log message.
                    NOTE :  This will exclude any MDC fields not specifically mentioned here.
                    More info : https://github.com/logfellow/logstash-logback-encoder
                -->
                <mdc>
                    <fieldName>MDC</fieldName>
                    <includeMdcKeyName>host</includeMdcKeyName>
                    <includeMdcKeyName>uri</includeMdcKeyName>
                    <includeMdcKeyName>method</includeMdcKeyName>
                    <includeMdcKeyName>remote_ip</includeMdcKeyName>
                    <includeMdcKeyName>request_id</includeMdcKeyName>
                    <includeMdcKeyName>host</includeMdcKeyName>
                    <includeMdcKeyName>user_agent</includeMdcKeyName>
                    <includeMdcKeyName>status</includeMdcKeyName>
                    <includeMdcKeyName>bytes_in</includeMdcKeyName>
                    <includeMdcKeyName>bytes_out</includeMdcKeyName>
                    <includeMdcKeyName>latency</includeMdcKeyName>
                    <includeMdcKeyName>latency_human</includeMdcKeyName>
                    <includeMdcKeyName>client_id</includeMdcKeyName>
                    <includeMdcKeyName>tenant_id</includeMdcKeyName>
                    <includeMdcKeyName>compartment</includeMdcKeyName>
                    <includeMdcKeyName>message_source</includeMdcKeyName>
                    <includeMdcKeyName>operation_type</includeMdcKeyName>
                    <includeMdcKeyName>operation_name</includeMdcKeyName>
                    <includeMdcKeyName>id_resource_name</includeMdcKeyName>
                    <includeMdcKeyName>request_parameters</includeMdcKeyName>
                    <includeMdcKeyName>request_body</includeMdcKeyName>
                </mdc>
            </providers>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
        </filter>
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%36thread] %-5level %50.50logger{50} [%30.30file{30}:%4.4line] %msg %replace([MDC: %mdc]){'\[MDC: \]', ''} %nopex %n</pattern>--> <!-- No stack trace. -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-10.10thread] %-5level [%-50.50logger{50}] [%-30.30file{30}:%4.4line] %msg %replace([MDC: %mdc]){'\[MDC: \]', ''} %ex{2} %n</pattern> <!-- Shortened stack trace. -->
        </encoder>
    </appender>

    <if condition='property("SPRING_PROFILES_ACTIVE").equals("dev") || property("LOG_APPENDER_TYPE").equals("CONSOLE")'>
        <then>
            <logger level="INFO" 	name="org.springframework.beans"/>
            <logger level="INFO" 	name="org.springframework.core"/>

            <logger level="TRACE" 	name="com.clinomic.customoperation.observation.GroupByInterval"/>
            <logger level="DEBUG" 	name="com.clinomic"/>
            <logger level="TRACE" 	name="com.clinomic.configuration.ConfigurationResourceProvider"/>
            <logger level="WARN" name="com.clinomic.security.SecurityInterceptor"/>
            <logger level="TRACE" 	name="scripting"/>

            <!--logger level="TRACE" 	name="ca.uhn.fhir.jpa.search"/>
            <logger level="DEBUG" 	name="ca.uhn.fhir.jpa"/-->

            <logger level="INFO" name="org.infinispan"/>
            <logger level="INFO" name="org.infinispan.client.hotrod"/>

            <logger level="DEBUG" name="org.opencds.cqf.cql.engine.debug"/>

            <root level="INFO">
                <appender-ref ref="CONSOLE"/>
            </root>
        </then>
        <else>
            <logger level="INFO" 	name="org.springframework.beans"/>
            <logger level="INFO" 	name="org.springframework.core"/>
            <logger level="DEBUG" 	name="com.clinomic"/>
            <root level="INFO">
                <appender-ref ref="JSON"/>
            </root>
        </else>
    </if>

</configuration>

